[Unit]
Description=GNS3 Server
After=network.target

[Service]
ExecStart=/usr/local/bin/gns3server
Restart=on-failure

[Install]
WantedBy=multi-user.target
